.row {
  height: 100%;
  overflow-x:scroll;
  overflow-y:hidden;
  white-space:nowrap
}

.contentSection, .contentSection img {
  height: 100%;
  width: auto;
  display: inline-block;
  *display:inline;/* For IE7*/
  *zoom:1;/* For IE7*/
}

.contentSection img {

  margin-left: 20px;
}

